# Ambiente
NODE_ENV=development

# Porta do servidor
PORT=3001

# Chave padrão para descriptografia (optional)
# Se não definir, usará 'DefaultKey123!@#'
DECRYPT_KEY=DefaultKey123!@#

# Render Deploy
# DATABASE_URL=postgresql://user:password@host/db

# Vercel Deploy
# VERCEL_ENV=development
